Профессия Data Science  
Блок 2. Подгрузка данных  
**SQL-1. Основы SQL**

---

## **Оглавление:**

1. Получаем все данные из таблицы
2. Фильтруем строки

---

## **1. Получаем все данные из таблицы**

***SELECT *  
FROM sql.kinopoisk***

**! РАЗБИРАЕМ ЗАПРОС**

→ Оператор SELECT сообщает СУБД, что вы хотите извлечь из неё данные. SELECT лежит в основе любого SQL-запроса к БД.

→ FROM sql.kinopoisk сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это sql), а после точки — название самой таблицы (kinopoisk).

→ Звёздочка * указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов через запятую.

***SELECT /*выбор столбцов*/  
    movie_title, /*столбец movie_title*/  
    2020 - year, /*столбец, каждое из значений которого ровно разнице 2020 и соответствующего значения столбца year*/  
    rating /*столбец rating*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/*** 


***SELECT /*выбрать столбцы*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    10 - rating AS difference /*столбец, значения в котором равны разнице 10 и каждого соответствующего значения столбца rating; присвоить столбцу алиас difference*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***

Новое имя является просто псевдонимом, или алиасом, — оно временное и не меняет реального имени столбца в базе данных. Алиас влияет только на то, как столбец отображается в выводе конкретного запроса.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, movie_title AS "Movie Title".

**ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ**

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

сложение с помощью + ;  
вычитание с помощью - (этот тип операции вы уже проводили, когда определяли «возраст» фильма);  
умножение с помощью * ;  
деление с помощью / ;

Важно! Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

получение остатка от деления с помощью % .

***SELECT /*выбор столбцов*/  
    director,  
    movie_title, /*столбец movie_title*/  
    10 * rating AS difference /*столбец, каждое из значений которого ровно разнице 2020 и соответствующего значения столбца year*/      
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***



***SELECT /*выбрать столбцы*/  
    movie_title, /*столбец movie_title*/  
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***

## **2. Фильтруем строки**

#### **WHERE**

Мы уже знаем, что делать, если нам нужны лишь несколько столбцов из таблицы.

? Но как быть, если мы хотим видеть не все строки, а только некоторые из них?

В таком случае нам пригодится ключевое слово **WHERE**.

***SELECT * /*выбор всех столбцов*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE position = 1 /*с позицией 1*/***

***SELECT * /*выбор всех столбцов*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year = 1999 /*с позицией 1*/***

***SELECT /*выбор всех полей*/  
    position, /*столбец position*/   
    movie_title, /*столбец movie_title*/  
    year, /*столбец year*/  
    director /*столбец director*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year < 1984 /*при условии, что год создания меньше 1984*/***


# знак неравенства: != или <>

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year <> 2000 /*если год создания не 2000*/***


#### **AND И OR**

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year >= 2000 /*при условии, что год создания больше или равен 2000*/  
AND rating >= 8 /*и с рейтингом от 8 и выше*/***

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sqk.kinopoisk*/  
WHERE year >= 1975 /*при условии, что год создания 1975 и позднее*/  
    AND year <= 1985 /*и ранее 1985*/***


#### **BETWEEN**
оператор фильтрует строки, которые находятся между двумя значениями.

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблиц sql.kinopoisk*/  
WHERE year BETWEEN 1975 AND 1985 /*при условии, что год создания лежит в промежутке между 1975 и 1985*/***


#### **NOT — оно «переворачивает» следующий за ним оператор**

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE year NOT BETWEEN 1965 AND 1980 /*при условии, что год создания не лежит в промежутке между 1965 и 1980*/***

Если включаете в запрос несколько условий AND и OR, используйте скобки: они работают так же, как и с арифметическими операциями.

**Важно! Условия в скобках имеют больший приоритет.**

#### **IN**

Ещё один полезный оператор для фильтрации строк — IN.

Конструкции с IN имеют следующий вид:

column IN (value1, value2, value3)

Эта запись аналогична следующей: column = value1 OR column = value2 OR column = value3 — но выглядит проще и компактнее.

До этого при работе с WHERE мы использовали только числа, но мы можем проводить манипуляции и c данными типа текст.

### **Обратите внимание! Текстовые значения обязательно должны заключаться в одинарные кавычки.**


#### **LIKE**

Предположим, мы не знаем точно, какое текстовое значение ищем.

В таком случае нам поможет оператор LIKE.

***SELECT * /*выбор всех полей*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE movie_title LIKE 'А%' /*если название фильма начинается на А*/***

Знак процента (%) в примере показывает, что после A встречается ноль и более символов. Вы можете использовать % в любом месте внутри строки.

Например, movie_title LIKE '%а%б%' выведет все фильмы, в названии которых встречается строчная буква а, а где-то после неё — б.

Также в текстовых строках используется знак подчёркивания (_) — он заменяет ровно один любой символ.

***SELECT movie_title, year  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/  
WHERE rating >= 8 and director LIKE 'Дэвид%'***


#### **Для пустых значений есть специальное обозначение — NULL.**


***SELECT * /*выбор всех полей*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/
WHERE overview IS NULL /*если у фильма отсутствует описание*/***


Вы можете добавить к условию уже изученное ключевое слово NOT, чтобы получилось overview IS NOT NULL, тогда в выводе вы увидите только фильмы с заполненным описанием.

**Важно! NULL — это специальное значение. Если вы фильтруете столбец, в котором есть пустые значения, по любому условию, кроме IS NULL / IS NOT NULL, такие значения будут исключены из вывода.**